:root {
  --white: #ffffff;
  --primary: #ff6f61;
  --secondary: #6b7280;
  --shadow: rgba(0, 0, 0, 0.1);
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --font-size-base: 16px;
  --pastel-blue: #a3bffa;
  --pastel-purple: #d6bcfa;
  --pastel-pink: #fbb6ce;
  --pastel-green: #b5f5ec;
  --dark: #2d3748;
  --gray: #d1d5db;

  --crimson: #dc143c;
}
